<a href="/berries/new">Add New Berry</a>

<h2>Berries</h2>

<table>
  <thead>
  <tr>
    <th>Berry Type</th>
    <th>Berry Color</th>
    <th>Berry Rating</th>
  </tr>
  </thead>
  <tbody>
  <% @berries.each do |berry| %>
    <a href="/berries/<%= berry.id %>">
    <%= berry.berry_type %></a>
    <a href="/berries/<%= berry.id %>">
    <%= berry.berry_color %></a>
    <a href="/berries/<%= berry.id %>">
    <%= berry.berry_rating %></a>
  <% end %>
  </tbody>
</table>