<h2> Showing Berry </h2>

<dl>
  <dt>Berry Type</dt>
  <dd><%= @berry.berry_type %></dd>
  <dt>Berry Coloring</dt>
  <dd><%= @berry.berry_color %></dd>
  <dt>Berry Rating</dt>
  <dd><%= @berry.berry_rating %></dd>
</dl>

<a href="/berries/<%= @berry.id %>/edit">Edit</a>

<form action="/berries/<%= @berry.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  <input type="submit" value="Delete">
</form>